.bun
.bash_history
.cargo
.ccache
.cursor-server
.embeddings
.rustup
.pnpm-store
.node_repl_history
agentops.log
swarms.log
agent_workspace
errors
nltk_data
errors.txt
dump.rdb
lancedb_dir
mlruns
pandasai.log
cache
exports
.rediscli_history
Financial-Analysis-Agent_state.json
Finanical-Analysis-Agent.log
.viminfo
.wget-hsts
.env
.venv
